<!-- Events -->
<div class="grid grid-cols-4 gap-4 p-10">
  <a
    *ngFor="let event of events"
    [href]="event.url"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="relative">
      <img
        class="w-full h-full object-fill"
        [src]="getEventImage(event)?.url"
      />
      <div
        class="absolute text-xl text-center text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 drop-shadow-[2px_2px_2px_rgba(0,0,0,1)]"
      >
        {{ event.name }}
      </div>
    </div>
  </a>
</div>
