<!-- Heading -->
<h1 class="p-10 text-3xl font-bold">Events</h1>

<!-- Filters -->
<div class="pl-10">
  <mat-form-field>
    <mat-label>City</mat-label>
    <input
      type="text"
      matInput
      [formControl]="cityFormControl"
      placeholder="Brisbane"
    />
  </mat-form-field>

  <mat-form-field class="pl-10">
    <mat-label>Dates</mat-label>
    <mat-date-range-input
      [formGroup]="dateRangeFormGroup"
      [rangePicker]="picker"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

<!-- Events -->
<div class="px-10 pb-10 grid grid-cols-4 gap-4">
  <a
    *ngFor="let event of events"
    [href]="event.url"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="relative">
      <img
        class="w-full h-full object-fill"
        [src]="getEventImage(event)?.url"
      />
      <div
        class="absolute text-xl text-center text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 drop-shadow-[2px_2px_2px_rgba(0,0,0,1)]"
      >
        {{ event.name }}
      </div>
    </div>
  </a>
</div>
